/************************************
**************  BASIC  **************
************************************/

html {
    color: #4a4a4a;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    color: #9b9b9b;
    font-size: 22px;
}

h1 span {
    color: #4a4a4a;
    font-weight: 600;
}

h2 {
    font-size: 44px;
    font-weight: bold;
    line-height: 3.5rem;
    padding-bottom: 32px;
    width: 420px;
}

h3 {
    font-size: 38px;
    font-weight: bold;
    padding: 32px 0 24px 0;
}

h4 {
    font-size: 25px;
    font-weight: 400;
    padding-bottom: 24px;
}

p {
    font-size: 16px;
    font-weight: lighter;
}

.who {
    font-size: 14px;
    padding: 24px 0 32px 0;
}

button {
    background-color: #4a4a4a;
    border: none;
    font-size: 20px;
    padding: 8px 0;
    width: 413px;
}

button a {
    color: white;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

button:hover {
    background-color: #9b9b9b;
}

/************************************
*********  HEADER SECTION  **********
************************************/

header {
    align-items: center;
    display: flex;
    height: 64px;
    justify-content: space-between;
}

.logo {
    align-items: center;
    display: flex;
    padding-left: 24px;
}

.logo img {
    height: 32px;
}

nav {
    padding-right: 24px;
}

nav span {
    padding-left: 16px;
}

nav span a {
    color: #4a4a4a;
    text-decoration: none;

}

.small {
    display: none;
}

@media only screen and (max-width: 900px) {
    header {
        justify-content: center;
    }

    .big {
        display: none;
    }
    .small {
        align-content: center;
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    .small span {
        align-self: center;
        display: flex;
    }

    .small img {
        height: 32px;
    }
}

/************************************
**********  HERO SECTION  ***********
************************************/

.hero {
    align-items: center;
    background-color: #d8d8d8;
    display: flex;
}

.hero_image {
    height: 100%;
    margin: 32px 24px;
    width: 60%;
}

.hero_image img {
    width: 100%;
}

.callforaction {
    width: 40%;
}

.callforaction h4 {
    width: 420px;
}

@media only screen and (max-width: 1110px) {
    .hero {
        align-items: center;
        flex-direction: column;
    }
    .hero_image {
        height: 100%;
        margin: 32px 24px;
        width: 100%;
    }
    .callforaction {
        width: 100%;
    }
    .hero_image img {
        width: 100%;
    }
    .callforaction h4 {
        width: 100%;
    }
    h2 {
        padding: 0 16px 32px 16px;
        width: calc(100% - 32px);
    }

    .callforaction h4 {
        padding: 0 16px 24px 16px;
        width: calc(100% - 32px);
    }


    button {
        background-color: #4a4a4a;
        border: none;
        margin: 0 16px 32px 16px;
        padding: 8px 0;
        width: calc(100% - 32px);

    }
    button a {
        color: white;
        height: 100%;
        text-decoration: none;
        width: 100%;
    }
    button:hover {
        background-color: #9b9b9b;
    }
}

/************************************
*********  CAMPUS SECTION  **********
************************************/

.campus {
    display: flex;
    width: 100%;
}

.practice {
    border-right: 2px solid #d8d8d8;
    padding: 32px 24px 0px 24px;
    width: 60%;
}

.practice img {
    width: 100%;
}

.side {
    display: flex;
    height: 100%;
    flex-direction: column;
    width: 40%;

}

.item {
    display: flex;
    flex-direction: row;
}

.item:first-child {
    border-bottom: 4px double #d8d8d8
}

.item.highlight {
    background-color: #d8d8d8;
    margin-bottom: 32px;
}

.item img {
    /* height: 100%; */
    padding: 16px;
    width: 35%;
}

.item:first-child img {
    padding-top: 32px;
}

.img_small {
    display: none;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
}

.text h4 {
    line-height: 2rem;
    padding: 0;
}

.text p {
    line-height: 1.5em;
    padding: 8px 0;
}

.text a {
    font-weight: bold;
    text-decoration: none;
}

@media only screen and (max-width: 1110px) {
    .img_big,
    .practice_big {
        display: none;
    }

    .side {
        border-left: 0;
        display: flex;
        height: 100%;
        flex-direction: column;
        padding: 16px 16px 32px 16px;
        width: 100%;
    }

    .item {
        display: flex;
        flex-direction: column;
        padding-bottom: 64px;

    }

    .item:first-child {
        border-bottom: 0;
    }

    .item img {
        height: 100%;
        padding: 0px;
        width: 100%;
    }

    .item:first-child img {
        padding-top: 0px;
    }

    .img_small {
        display: flex;
        padding: 0;
    }


    .item.highlight {
        background-color: white;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .text {
        width: 93%;

    }

    .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 32px;
        padding-left: 16px;
    }
    .text p {
        width: 100%;
    }

}

/************************************
********  LEARNING SECTION  *********
************************************/

.learning {
    align-items: center;
    background-color: #eaebec;
    display: flex;
    flex-direction: column;
    padding: 32px 56px;
}

.learning h3 {
    padding: 0 0 32px 0;
}

.container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.courses {
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 0 16px;
    max-width: 532px;
}

.courses img {
    display: flex;
    flex-shrink: 1;
    height: 100%;
    max-width: 100%;
}

.courses_text {
    background-color: white;
    height: 100%;
    margin-bottom: 32px;
    padding: 16px 16px 24px 16px;
}

.courses_text h4 {
    padding: 0;
}

.courses_text p {
    line-height: 1.5rem;
}

.category {
    padding: 8px 0;
    line-height: 0;
}

@media only screen and (max-width: 1900px) {
    .container {
        justify-content: space-around;
    }
}


@media only screen and (max-width: 1110px) {
    .courses img {
        display: none;
    }

    .courses_text .big {
        display: none;
    }

    .courses_text h4 {
        background-color: #eaebec;
        font-weight: bold;
        margin: 0;
        padding: 16px 16px 24px 16px;
        width: calc(100%-32px);
    }

    .courses {
        margin: 0;
        max-width: 100%;
        padding: 0;
        width: 100%;

    }

    .courses_text {
        margin-bottom: 8px;
        padding: 0 16px;
    }

    .container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .learning {
        background-color: white;
        padding: 32px 0;
        width: 100%;
    }
}




/************************************
********  THESIS SECTION  *********
************************************/

.thesis {
    text-align: center;
    width: 100%;
}

.thesis h3 {
    padding: 32px 0 0 0;
}

.thesis_container {
    display: flex;
    text-align: left;
    width: 100%;
}

.video {
    margin: 32px 24px 32px 24px;
    width: 60%;
}

video {
    width: 100%;
}

.video h4 {
    padding: 24px 0 8px 0;
}

.video p {
    line-height: 1.5em;
}

.thesis_side {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.thesis_item {
    display: flex;
    flex-direction: row;
}

.thesis_item.highlight {
    background-color: #d8d8d8;
    margin-top: 32px;
}

.thesis_item img {
    width: 35%;
    padding: 16px;
}

.thesis_item:first-child img {
    padding-top: 16px;
}

.thesis_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
}

.thesis_text h4 {
    line-height: 2rem;
    padding: 0;
}

.thesis_text p {
    line-height: 1.5em;
    padding: 8px 0;
}

@media only screen and (max-width: 1110px) {
    .thesis_side.big {
        display: none;
    }

    .thesis h3 {
        padding: 32px 0 16px 0;
    }

    .video {
        margin: 0px 0px 24px 0px;
        width: 100%;
    }

    .video .big {
        display: none;
    }
}

/************************************
*********  FOOTER SECTION  **********
************************************/

footer {
    border-top: 1px solid #d8d8d8;
    display: flex;
    height: 4rem;
    justify-content: space-between;
    padding: 16px 24px;
}

.legal span {
    padding-left: 16px;
}

@media only screen and (max-width: 1110px) {
    footer {
        border-top: 0;
        height: auto;
        justify-content: flex-start;
        padding: 16px 16px;
    }

    .legal span {
        display: none;
    }

}
